<div class="container">
  <h2>Details of the reservation</h2>
  <mat-form-field>
    <mat-label>Date of Arrival</mat-label>
    <input
      matInput
      [matDatepicker]="picker1"
      [(ngModel)]="datas.stay.arrivalDate"
    />
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle
      matIconSuffix
      [for]="picker1"
    ></mat-datepicker-toggle>

    <mat-datepicker #picker1></mat-datepicker>
  </mat-form-field>
  &nbsp;
  <mat-form-field>
    <mat-label>Date of Departure</mat-label>
    <input
      matInput
      [matDatepicker]="picker2"
      [(ngModel)]="datas.stay.departureDate"
    />
    <mat-datepicker-toggle
      matIconSuffix
      [for]="picker2"
    ></mat-datepicker-toggle>
    <mat-datepicker #picker2></mat-datepicker>
  </mat-form-field>
  <br />
  <mat-form-field>
    <mat-label>Room Size</mat-label>
    <mat-hint>Choose a room type </mat-hint>
    <mat-select [(value)]="selected">
      <mat-option value="one">{{ datas.room.roomSize }}</mat-option>
    </mat-select>
  </mat-form-field>
  &nbsp;
  <mat-form-field>
    <mat-label>Room Quantity</mat-label>
    <mat-hint>Maximum :5 </mat-hint>
    <mat-error *ngIf="datas.room.roomQuantity > 5"
      >Room Size is Error</mat-error
    >
    <input matInput [(ngModel)]="datas.room.roomQuantity" />
  </mat-form-field>
  <br />
  <mat-form-field>
    <mat-label>First Name</mat-label>
    <input
      matInput
      #input1
      maxlength="25"
      placeholder="First Namet"
      [(ngModel)]="datas.firstName"
    />
    <mat-hint align="end">{{ input1.value.length }}/25</mat-hint>
  </mat-form-field>
  <br />
  <mat-form-field>
    <mat-label>Last Name</mat-label>
    <input
      matInput
      #input2
      maxlength="50"
      placeholder="First Namet"
      [(ngModel)]="datas.lastName"
    />
    <mat-hint align="end">{{ input2.value.length }}/50</mat-hint>
  </mat-form-field>
  <br />
  <mat-form-field>
    <mat-label>E-mail</mat-label>
    <input
      matInput
      placeholder="pat@example.com"
      required
      [(ngModel)]="datas.email"
    />
  </mat-form-field>
  <br />
  <mat-form-field>
    <mat-label>Phone Number</mat-label>
    <input matInput [(ngModel)]="datas.phone" />
    <mat-hint>Add your country code first </mat-hint>
  </mat-form-field>
  <br />
  <mat-form-field>
    <mat-label>Street Name</mat-label>
    <input matInput [(ngModel)]="datas.addressStreet.streetName" />
  </mat-form-field>
  &nbsp;
  <mat-form-field>
    <mat-label>Street Number</mat-label>
    <input matInput [(ngModel)]="datas.addressStreet.streetNumber" />
  </mat-form-field>
  <br />
  <mat-form-field>
    <mat-label>ZIP</mat-label>
    <input matInput [(ngModel)]="datas.addressLocation.zipCode" />
  </mat-form-field>
  &nbsp;
  <mat-form-field>
    <mat-label>State</mat-label>
    <input matInput [(ngModel)]="datas.addressLocation.state" />
  </mat-form-field>
  &nbsp;
  <mat-form-field>
    <mat-label>City</mat-label>
    <input matInput [(ngModel)]="datas.addressLocation.city" />
  </mat-form-field>
  <br />
  <mat-form-field>
    <mat-label>Extras</mat-label>
    <mat-select multiple="true">
      <mat-option *ngFor="let a of datas.extras" value="one">{{
        a
      }}</mat-option>
    </mat-select>
  </mat-form-field>
  <br />
  <br />
  <mat-radio-group
    [(ngModel)]="datas.payment"
    aria-label="Select an option"
    class="pb-15"
  >
    <mat-radio-button class="mr-15" value="cc">Credit Card</mat-radio-button>
    <mat-radio-button class="mr-15" value="pp">PayPal</mat-radio-button>
    <mat-radio-button class="mr-15" value="Cash">Cash</mat-radio-button>
    <mat-radio-button class="mr-15" value="bt">Bitcoin</mat-radio-button>
  </mat-radio-group>
  <br />
  <mat-form-field>
    <mat-label>Personal Notes</mat-label>
    <textarea matInput [(ngModel)]="datas.note"></textarea>
  </mat-form-field>
  <br />
  <!-- <mat-form-field class="example-chip-list" appearance="fill">
    <mat-label>Favorite Fruits</mat-label>

    <mat-chip-list *ngFor="let fruit of fruits" (removed)="remove(fruit)">
      {{ fruit }}
      <button matChipRemove [attr.aria-label]="'remove ' + fruit">
        <mat-icon>cancel</mat-icon>
      </button>
    </mat-chip-list> -->
  <!-- </mat-form-field> -->
  <br />
  <br />
  <hr />
  <mat-slide-toggle [(ngModel)]="datas.reminder" class="pb-15"
    >Send me a remainder</mat-slide-toggle
  ><br />
  <mat-slide-toggle [(ngModel)]="datas.newsletter" class="pb-15"
    >Subscribe to news letter</mat-slide-toggle
  ><br />
  <mat-checkbox [(ngModel)]="datas.confirm" color="primary" class="pb-15">
    I Confirm the information given above
  </mat-checkbox>
</div>
